




<!--SIGNUP-->
<div class="container">
    <div class="row justify-content-center mt-5">
        <div id="form-container-cus">
            <h1 id="cus-signup-h1">SIGN UP</h1>
            <%= form_with(model: @user, url: signup_path, local: true) do |form| %>
            <% if @user.errors.any? %>
            <div class="alert alert-danger">
                <% @user.errors.full_messages.each do |msg| %>
                <div><%= msg %></div>
                <% end %>
            </div>
            <% end %>
            <div id="cus-login-form">
                <div id="form-item">
                    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
                </div>
                <div id="form-item">
                    <%= form.password_field :password, required: true, placeholder:"Enter your password" %>
                </div>
                <div id="form-item">
                    <%= form.password_field :password_confirmation, required: true, placeholder:"Confirm your password" %>
                </div>
                <div id="form-item1">
                    <div class="cus-cb-wrapper">
                        <input type="checkbox" />
                        <label>Remember me</label>
                    </div>                 
                </div>
                <%= form.submit "Sign up" , id:"cus-login-submit" %>
                <div id="form-item">
                    <span>Already have an account?<%= link_to "Sign in here", new_session_path %></span>
                </div>
            </div>
            <% end %>       
        </div>
    </div>
</div>
<!--END SIGNUP-->
  